In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

In [104]:
# Loading entire dataset
dataset = pd.read_csv('data.csv')

In [105]:
dataset[:8]

,Date,Dom_plac_final,ext_plac_joun,Dom_plac_joun,Victoire_dom,Derby,ext_plac_final,Journee,Resultat,Heure,Temp,Domicile,Capacite,Affluence,exterieur,Jours
0,01-04-2018,3,17,4,63.2,0,18,31,2-0,21:00,283.75,Olympique de lyonnais,59186,48548,Toulouse FC,dim
1,01-09-2012,3,6,2,57.9,0,11,4,3-2,17:00,293.65,Olympique de lyonnais,41044,25380,Valenciennes FC,ven
2,01-12-2012,3,13,1,57.9,0,9,15,1-0,17:00,276.75,Olympique de lyonnais,41044,31491,Montpellier Herault SC,ven
3,02-03-2014,5,11,6,42.1,0,15,27,0-0,17:00,283.05,Olympique de lyonnais,41044,35865,Montpellier Herault SC,dim
4,02-05-2012,4,12,4,68.4,0,12,35,4-1,19:00,286.05,Olympique de lyonnais,41044,30890,Valenciennes FC,mer
5,02-05-2015,2,18,2,73.7,0,18,35,2-0,17:00,286.65,Olympique de lyonnais,41044,36839,evian Thonon Gaillard FC,ven
6,02-10-2016,4,9,5,63.2,1,8,8,2-0,20:45,290.15,Olympique de lyonnais,59186,57050,AS Saint-Etienne,dim
7,02-11-2013,5,10,13,42.1,0,16,12,2-0,20:00,288.65,Olympique de lyonnais,41044,37334,EA Guingamp,ven

In [106]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR, LinearSVR
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import r2_score
from statsmodels.tools.tools import add_constant
from statsmodels.regression.linear_model import OLS
import time

le = LabelEncoder()

dataset['Jours_label'] = le.fit_transform(dataset.Jours)
dataset['exterieur_label'] = le.fit_transform(dataset.exterieur)
dataset['Domicile_label'] = le.fit_transform(dataset.Domicile)
dataset['Capacite_label'] = le.fit_transform(dataset.Capacite)
dataset['Heure_label'] = le.fit_transform(dataset.Heure)

In [107]:
dataset.describe()

,Dom_plac_final,ext_plac_joun,Dom_plac_joun,Victoire_dom,Derby,ext_plac_final,Journee,Temp,Capacite,Affluence,Jours_label,exterieur_label,Domicile_label,Capacite_label,Heure_label
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.0,159.000000,159.000000
mean,3.194969,11.352201,4.597484,61.288050,0.163522,10.943396,20.182390,286.808491,46452.415094,36915.226415,1.836478,17.622642,0.0,1.257862,7.842767
std,0.983908,5.909806,3.134374,8.551292,0.371010,5.711686,11.099011,7.006320,8405.975355,7529.392439,1.848277,9.510607,0.0,0.530271,3.938667
min,2.000000,1.000000,1.000000,42.100000,0.000000,1.000000,1.000000,270.850000,39490.000000,23552.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,2.000000,6.000000,3.000000,57.900000,0.000000,6.000000,10.500000,281.650000,41044.000000,32411.500000,0.000000,10.000000,0.0,1.000000,4.000000
50%,3.000000,12.000000,4.000000,63.200000,0.000000,11.000000,21.000000,286.650000,41044.000000,35275.000000,2.000000,19.000000,0.0,1.000000,8.000000
75%,4.000000,17.000000,6.000000,63.200000,0.000000,16.000000,30.000000,291.550000,59186.000000,38785.500000,4.000000,26.000000,0.0,2.000000,12.000000
max,5.000000,20.000000,18.000000,73.700000,1.000000,20.000000,38.000000,310.950000,59186.000000,58069.000000,4.000000,33.000000,0.0,2.000000,13.000000

In [108]:
X = dataset.drop(['Jours', 'exterieur', 'Capacite', 'Affluence','Date','Heure','Domicile','Resultat','Journee','Domicile_label','Dom_plac_final','ext_plac_final','Jours_label','exterieur_label','Heure_label','Victoire_dom'], axis = 1)
y = dataset['Affluence'] 

X[:2]

   ext_plac_joun  Dom_plac_joun  Derby    Temp  Capacite_label
0             17              4      0  283.75               2
1              6              2      0  293.65               1

In [109]:
ss = StandardScaler()
Xscaled = ss.fit_transform(X)

In [110]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [111]:
from sklearn.tree import DecisionTreeRegressor  
regressor = DecisionTreeRegressor()  
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [112]:
y_pred = regressor.predict(X_test)

In [113]:
df=pd.DataFrame({'Actual':X_test.Temp, 'Predicted':y_pred})  
df[:5]

     Actual  Predicted
7    288.65    36774.0
40   295.45    30047.0
95   296.25    39177.0
45   281.45    33222.0
110  281.55    27363.0

In [114]:
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error, r2_score
ex_var_score = explained_variance_score(y_test, y_pred)
m_absolute_error = mean_absolute_error(y_test, y_pred)
m_squared_error = mean_squared_error(y_test, y_pred)
r_2_score = r2_score(y_test, y_pred)

print("Explained Variance Score: "+str(ex_var_score))
print("Mean Absolute Error "+str(m_absolute_error))
print("Mean Squared Error "+str(m_squared_error))
print("R Squared Error "+str(r_2_score))

Explained Variance Score: 0.6202804050963635
Mean Absolute Error 3634.03125
Mean Squared Error 20564090.09375
R Squared Error 0.6162283345978778

In [115]:
def evaluate(model):        
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    model_score = r2_score(y_test, pred)
    
    s = cross_val_score(model, X, y, cv=5, scoring='r2', n_jobs=-1)
        
    print ("R^2 score:", model_score)
    print ("Cross Validation Score: {:0.5} ± {:0.5}".format(s.mean().round(5), s.std().round(5)))

In [116]:
def feat_imp(model):
    feature_importances = pd.DataFrame(model.feature_importances_, index = X.columns, columns=['importance']
                                      ).sort_values('importance', ascending=False)
    print (feature_importances)

In [117]:
Rt = DecisionTreeRegressor()

In [118]:
%time evaluate(Rt)

R^2 score: 0.5807770084576408
Cross Validation Score: 0.26121 ± 0.24503
Wall time: 3 s

In [119]:
feat_imp(Rt)

                importance
Capacite_label    0.386069
Temp              0.236860
Derby             0.160540
Dom_plac_joun     0.123001
ext_plac_joun     0.093530